{% extends 'layout.html.twig' %}
{% block content %}
	<div class="home">
		<input class="rules-input" id="rules-input" type="checkbox" hidden>
		<div class="rules-container">
			<article class="rules-text">
				<h3>Régles du jeu</h3>
				<p>Sélectionnez les cartes que vous souhaitez associer, puis cliquez sur "fusion" pour valider votre choix. Si c'est validé, une nouvelle carte sera débloquée, sinon essayez une autre association.</p>
			</article>
		</div>
		<div class="behind-title">
			<h1 class="unlock-home">UNLOCK !</h1>
			<h2 class="unlock-h2">Sherlock Adventures</h2>
		</div>
		<div class="front">
			<svg class="svg" height="140" width="300">
				<polygon class="first" points="10,10 30,10 60,70 30,130 10,130 40,70" style="fill:#b29e84;"/>
				<polygon class="second" points="50,10 70,10 100,70 70,130 50,130 80,70" style="fill:#b29e84;"/>
				<polygon class="second" points="90,10 110,10 140,70 110,130 90,130 120,70" style="fill:#b29e84;"/>
				<polygon class="second" points="130,10 150,10 180,70 150,130 130,130 160,70" style="fill:#b29e84;"/>
				<polygon class="second" points="170,10 190,10 220,70 190,130 170,130 200,70" style="fill:#b29e84;"/>
				<polygon class="third" points="210,10 230,10 260,70 230,130 210,130 240,70" style="fill:#b29e84;"/>
			</svg>
			<div class="front-content">
				<a class="slide" href="/games/add">
					<span class="rotate">Ajouter</br>+</span>
			</a>
			{% for game in games %}
				<a class="slide" href="/games/show?id={{ game.id }}">
					<img class="slide-img" src="{{ game.image_url }}">
					<span class="rotate">{{ game.name }}</span>
				</a>
			{% endfor %}
			<a class="slide" href="/games">
				<span class="rotate">Liste des jeux</span>
			</a>
		</div>
	</div>

	<label class="rules" for="rules-input">
		<span>?</span>
	</label>

</div>{% endblock %}
