{% extends 'layout.html.twig' %} {% block content %}
<div class="home">
    <input class="rules-input" id="rules-input" type="checkbox" hidden>
    <div class="rules-container">
        <p class="rules-text">
            Sélectionnez les cartes que vous souhaitez associer, puis cliquez sur "fusion" pour valider votre choix. Si c'est validé, une nouvelle carte sera débloquée, sinon essayez une autre association.
        </p>
    </div>
    <div class="behind">
        <div class="title">
            <h1 class="unlock-h1">UNLOCK !</h1>
            <h2 class="unlock-h2">Sherlock Adventure</h2>
        </div>
        
    <div class="front">
        <a class="slide" href="/games/add"><h2><p>Ajouter</br>+</p></h2></a> 
            {% for game in games %}
            <a class="slide" href="/games/show?id={{ game.id }}">{{ game.name }}</a>
            {% endfor %}
        <a class="slide" href="/games"><h2>Liste des jeux</h2></a> 
    </div>

    <label class="rules" for="rules-input"><span>?</span></label>
</div>
{% endblock %}