{# TODO : manage errors display #}

<form method="post">
    <label for="title">Enter the title game</label>
	<input type="text" name="title">
    <label for="description">Enter the description game</label>
    <input type="text" name="description">
    <label for="image_url">Enter the url image game</label>
    <input type="text" name="image_url">
	<input type="submit" value="Valider">
</form>
