{# TODO : manage errors display #}

<form method="post">
	<ul class="addFormList">
		<li>
			<label for="name">Titre du jeu</label>
		</li>
		<li><input type="text" id="name" name="name"></li>
		<li>
			<label for="description">Déscription du jeu</label>
		</li>
		<li><input type="text" id="description" name="description"></li>
		<li>
			<label for="instruction">Entrez vos instructions</label>
		</li>
		<li><input type="text" id="instruction" name="instruction"></li>
		<li>
			<button type="submit">Valider</button>
		</li>
	</ul>
</form>
