{# TODO : manage errors display #}

<form method="post">
	<label for="name">Enter the name game</label>
	<input type="text" id="name" name="name">
	<label for="description">Enter the description game</label>
	<input type="text" id="description" name="description">
	<button type="submit">Valider</button>
</form>
