{# TODO : manage errors display #}

<form method="post">
	<input type="hidden" value="{{ game.id }}" name="id">
	<input type="text" value="{{ game.title }}" name="title">
    <input type="text" value="{{ game.description }}" name="description">
    <input type="text" value="{{ game.url }}" name="url">
	<input type="submit" value="Valider">
</form>
