{# TODO : manage errors display #}

<form method="post">
	<label for="title">Enter the title game</label>
	<input type="text" id="title" name="title">
	<label for="description">Enter the description game</label>
	<input type="text" id="description" name="description">
	<label for="image_url">Enter the url image game</label>
	<input type="text" id="image_url" name="image_url">
	<button type="submit">Valider</button>
</form>
