{# TODO : manage errors display #}

<form method="post">
	<ul class = "addFormList">
		<li><label for="name">Enter the title game</label></li>
		<li><input type="text" id="name" name="name"></li>
		<li><label for="description">Enter the description game</label></li>
		<li><input type="text" id="description" name="description"></li>
{# 		<li><label for="image_url">Enter the url image game</label></li>
		<li><input type="text" id="image_url" name="image_url"></li> #}
		<li><button type="submit">Valider</button></li>
	</ul>
</form>
