{% extends 'layout.html.twig' %}

{% block content %}
	<div class="agencement-page-play">
		{{ parent() }}
		<h1 class="title-page">Selectionnez votre jeu</h1>
	</div>
	<ul class="game-list">
		{% for game in games %}
			<li class="game list-games">
				<h2 class="game-title">{{ game.name }}</h2>
				<p class="list-description">{{ game.description }}</p>
				<a class="card-link-to-details" href="/games/show?id={{ game.id }}">
					<span class="card-details-span">Détails</span>
				</a>
			</li>
		{% endfor %}
		<a class="game add-cards-link" href="/games/add">
			<span class="add-cards-span">AJOUTER UN JEU<br/>+</span>
		</a>
	</ul>
{% endblock %}
