{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="game-list-title">Games list</h1>
    <ul class="game-list">
        {% for game in games %}
            <li class="game">
                <a href="/games/show?id={{ game.id }}">
                    <figure class="game-figure">
                        <img class="game-image" src="../assets/images/game-the-appartment.png" alt="{{game.name}}">
                        <figcaption class="game-caption">{{ game.id }}.{{ game.name }}</figcaption>
                    </figure>
                </a>
            </li>
        {% endfor %}
            <li class="game">
                <a href="/games/add">
                    <figure class="game-figure">
                        <img class="game-image" src="../assets/images/game-the-appartment.png" alt="Add Cards">
                        <figcaption class="game-caption">Add Cards</figcaption>
                    </figure>
                </a>
            </li>
    </ul>
{% endblock %}
