{% extends 'layout.html.twig' %}

{% block content %}
	{{ parent() }}
	<h1 class="game-list-title">LES JEUX</h1>
	<ul class="game-list">
		{% for game in games %}
			<li class="game">
				<h2 class="game-title">{{ game.name }}</h2>
				<figure class="game-figure">
					<img class="game-image" src="../assets/images/game-the-appartment.png" alt="{{game.name}}">
				</figure>
				<a class="card-link-to-details" href="/games/show?id={{ game.id }}">
					<span class="card-details-span">Détails</span>
				</a>
			</li>
		{% endfor %}
		<a class="game add-cards-link" href="/games/add">
			<span class="add-cards-span">AJOUTER UN JEU<br/>+</span>
		</a>
	</ul>
{% endblock %}
