{% extends 'layout.html.twig' %}

{% block content %}
<h1 class="game-title">Games list</h1>
<ul class="game-list">
	{% for game in games %}
		<li class="game">
			<a href="/games/show?id={{ game.id }}">
				<figure class="game-figure">
					<img class="game-image" src="https://picsum.photos/200/250" alt="{{game.name}}">
					<figcaption class="game-caption">{{ game.id }}.{{ game.name }}</figcaption>
				</figure>
			</a>
		</li>
	{% else %}
		<li class="game">
			<figure class="game-figure">
				<img class="game-image" src="https://picsum.photos/200/250" alt="No game yet">
				<figcaption class="game-caption">No game yet</figcaption>
			</figure>
		</li>
	</a>
</li>{% endfor %}<li class="game">
<a href="/games/add">
	<figure class="game-figure">
		<img class="game-image" src="https://picsum.photos/200/250" alt="Add Cards">
		<figcaption class="game-caption">Add Cards</figcaption>
	</figure>
</a></li></ul>{% endblock %}
