{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="game-title">Games list</h1>
    <ul class="game-list">
        {% for game in games %}
            <li class="game" style="background : url('https://picsum.photos/seed/picsum/200/300')"><a href="/games/show?id={{ game.id }}">{{ game.id }}. {{ game.name }}</a><a href="/games/cards/add?id={{ game.id }}">Add Cards</a></li>
        {% else %}
            <li class="game" style="background : url('https://picsum.photos/seed/picsum/200/300')">Nothing to display</li>
        {% endfor %}
            <li class="game" style="background : url('https://picsum.photos/seed/picsum/200/300')"><a href="/games/add">Ajouter</a></li>
    </ul>
{% endblock %}
