{% extends 'layout.html.twig' %} 

{% block content %}
	<form class="card-list" method="POST" action="">
		<h1 class="list-title">{{ game.name }} - Fusionner vos cartes!</h1>
		{% for card in cards_discovered %}
			{% include "GameCards/_cardGame.html.twig" with card %}
		{% endfor %}
		<button type="submit" class="Merge">Fusion</button>
	</form>

    <div class="card-list">
        <h1 class="list-title"></h1>
        {% for card in cards_hidden %}
            {% include "GameCards/_cardHidden.html.twig" with card %}
        {% endfor %}
    </div>
{% endblock %}