{% extends 'layout.html.twig' %} 

{% block content %}
{% for card in cards_discovered %}
    <p>{{ card.name }}</p>
{% endfor %}
{% for card in cards_hidden %}
    <p>{{ card.name }}</p>
{% endfor %}/**
{% endblock %}