{% extends 'layout.html.twig' %}

{% block content %}
	{{ parent() }}
	<div class="victory game-show-description">
		<h1 class="unchanging">Félicitations, tu as terminé</h1>
		<h2 class="game-name">
			{{ game.name }}
		</h2>
		<a class="game-show-link-play" href="/games">RETOUR AUX JEUX</a>
	</div>
{% endblock %}
