{% extends 'layout.html.twig' %}

{% block content %}
	<div class="agencement-page-show" id="agencement-victory">
		{{ parent() }}
		<div class="victory game-show-description">
			<h1 class="unchanging">Félicitations détéctive,<br> tu as résolu le mystère</h1>
			<h2 class="game-name">
				{{ game.name }}
			</h2>
			<a class="game-show-link-play" href="/games">Retour aux jeux</a>
		</div>
	</div>
{% endblock %}
