.card {
    font-size: 2rem;
    height: 65vh;
    background-color: var(--jet);
    border: solid 0.2rem var(--border-color);
    border-radius: 2rem;
    padding: 1rem;
    transition: ease-out 0.2s;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: 1fr 6fr 4rem;
    grid-template-columns: 1fr;
}

.card-title {
    text-align: center;
    overflow-wrap: break-word;
    min-width: 0;
}

.card-link-to-details {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--isabelline);
    border: solid 2px var(--border-color);
    border-radius: 2rem;
    height: 4rem;
    transition: ease-in-out .2s;
}

.card-description {
    font-size: 1.2rem;
}

@media screen and (min-width: 680px) {
    .card {
        max-height: 450px;
    }
    .card:hover {
        transform: scale(1.05);
    }
    .card-link-to-details:hover {
        background-color: var(--isabelline);
        color: var(--gunmetal);
        border-color: var(--isabelline);
    }
}