.card {
    font-size: 2rem;
    height: 65vh;
    background-color: var(--jet);
    border: solid 0.2rem var(--border-color);
    border-radius: 2rem;
    padding: 1rem;
    transition: .2s ease-out;
    transition-property: transform, border;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: 1fr 6fr 4rem;
    grid-template-columns: 1fr;
}

.card-title {
    text-align: center;
    overflow-wrap: break-word;
    min-width: 0;
}

.card-link-to-details {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--isabelline);
    border: solid 2px var(--border-color);
    border-radius: 2rem;
    height: 4rem;
    transition: .2s ease-in-out;
    transition-property: background-color, color, border-color;
}

.card-description {
    font-size: 1.2rem;
}

.list-style {
    border: unset;
    font-size: unset;
    height: unset;
    border-radius: unset;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
}

.list-style .card-description {
    display: none;
}

.list-style .card-link-to-details {
    height: unset;
    padding: .5rem;
}

@media screen and (min-width: 680px) {
    .card {
        max-height: 350px;
        grid-template-rows: 1fr 6fr 2rem;
    }
    .card-title {
        font-size: 2rem;
    }
    .card-link-to-details {
        height: 2rem;
        font-size: 1.5rem;
    }
    .card:hover {
        transform: scale(1.05);
    }
    .card-link-to-details:hover {
        background-color: var(--isabelline);
        color: var(--gunmetal);
        border-color: var(--isabelline);
    }
    .list-style {
        grid-template-rows: 1fr;
        grid-template-columns: 2fr 1fr;
    }
}