.unlock {
    font-size: 2rem;
    font-family: var(--unlock-button-font);
}

.unlock-title2 {
    font-size: 1rem;
}

.car-show {
    margin: 1rem;
    background-color: var(--gray-web);
    color: var(--isabelline);
    border-radius: 1rem;
    border: 0.2rem solid;
    border-color: var(--border-color);
    text-align: center;
}

.card-name {
    margin: 1.5rem 0;
}