@import "../fonts/playfair/stylesheet.css";
@import "../fonts/teko/stylesheet.css";
:root {
    --border-color: #b29e84;
    --jet: #423e3a;
    --shadow-jet: #70675d;
    --gunmetal: #253439;
    --gray-web: #7c898b;
    --isabelline: #f6f4f1;
    /* first font to use */
    --text-font: "playfair_displayregular", serif;
    /* use only for title UNLOCK and BUTTON */
    --unlock-button-font: "tekoregular", sans-serif;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
}

body {
    position: relative;
    font-family: var(--text-font);
    background-color: var(--gunmetal);
    color: var(--isabelline);
    padding: 1rem;
}

button {
    font-family: var(--unlock-button-font);
}

.list-title {
    grid-row: 1;
    grid-column: 1/3;
}

.game-list-title {
    text-align: center;
    margin: 2rem;
    font-size: 1rem;
}

.card-list,
.game-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 1rem;
    grid-auto-flow: row dense;
    align-items: stretch;
}

.game-list {
    list-style: none;
    grid-template-rows: 1fr 1fr;
}

.card {
    aspect-ratio: 2/3;
    background-color: var(--jet);
    border: solid 0.2rem var(--border-color);
    border-radius: 2rem;
    padding: 1rem;
    transition: ease-out 0.2s;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: 4rem auto 2rem;
    grid-template-columns: 1fr;
    position: relative;
}

.game,
.game-image {
    aspect-ratio: 2/3;
    background-color: var(--jet);
    border: solid 0.2rem var(--border-color);
    border-radius: 2rem;
    padding: 1rem;
    transition: ease-out 0.2s;
    overflow-x: hidden;
}

.game {
    padding: 0;
}

.game-figure {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.game-image {
    padding: 0;
    aspect-ratio: initial;
    height: 23vh;
}

.game-caption {
    color: var(--isabelline);
    font-size: 1.2rem;
    align-self: center;
    margin-block-end: auto;
}

.card-title {
    text-align: center;
    overflow-wrap: break-word;
    min-width: 0;
}

.card-link-to-details {
    text-decoration: none;
    color: var(--isabelline);
    border: solid 2px var(--border-color);
    border-radius: 1rem;
    height: 2rem;
    transition: ease-in-out .2s;
    text-align: center;
}

.card-details-span {
    vertical-align: middle;
}

.addTitle,
.addFormList {
    text-align: center;
}

.add_card form {
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    margin-top: 17vh;
    background-color: var(--jet);
    border: solid 0.2rem var(--border-color);
    border-radius: 2rem;
    padding: 0.35rem;
}

.add_card h1 {
    margin-top: 3%;
    margin-bottom: 10%;
}

.add_card label {
    margin-top: 1.2rem;
    margin-left: 0.4rem;
}

.add_card button {
    margin-top: 1.8rem;
    width: 35%;
    margin-left: 5.4rem;
    margin-bottom: 0.6rem;
}

.add_card input,
.add_card select,
.add_card textarea {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.6rem;
    margin-bottom: auto;
    width: 90%;
}

.add_card select {
    text-align: center;
}

.addFormList {
    list-style-type: none;
}

.addFormList li {
    margin: 2rem;
}

.checkbox:checked+.card {
    border-color: lightgreen;
}

.add-cards-link {
    text-decoration: none;
    color: var(--isabelline);
    font-size: 2rem;
    position: relative;
}

.add-cards-span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


/* Game SHOW part */

.game-show-desription-screen {
    height: 100vh;
}

.game-show-unlock {
    font-size: 1.5rem;
    font-family: var(--unlock-button-font);
}

.game-show-title {
    font-size: 1.3rem;
    margin: 2rem 0;
}

.game-show-description {
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--gray-web);
    text-align: center;
    align-items: stretch;
    border: 0.5rem double;
    border-color: var(--border-color);
    border-radius: 1rem;
    margin: 2rem 0 0 0;
}

.game-show-description-p {
    height: 40vh;
    text-align: center;
    padding: 1rem;
    background-image: url("/assets/images/game-the-appartment.png");
    background-size: cover;
}

.game-show-instruction-p {
    text-align: justify;
    padding: 1rem 1rem 0 1rem;
}

.game-show-link {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
}

.game-show-link-play,
.game-show-link-cards {
    text-decoration: none;
    color: var(--isabelline);
    background-color: var(--jet);
    font-size: 2.4rem;
    padding: 0.2rem;
    border: 2px solid var(--jet);
    border-radius: 10px;
    box-shadow: 5px 5px 5px var(--shadow-jet);
}


/*  CARD - DETAILS - SHOW */

.card-detail {
    margin: 1rem auto;
    height: 30rem;
    display: flex;
    flex-direction: column;
}

.card-detail-title-container {
    display: flex;
    align-items: center;
}

.card-detail .card-name {
    text-align: center;
    margin-left: 2rem;
}

.card-detail .card-number {
    height: 4rem;
}

.card-detail .card-description {
    text-align: center;
    margin-top: 1rem;
}

.card-img {
    width: 20rem;
    margin-top: 1rem;
}


.card-image{
    margin : auto;
    width:100%;
    height:100%;

/* Game play start here */

.card-hidden {
    aspect-ratio: 2/3;
    background-color: var(--gray-web);
    border-radius: 2rem;
    padding: 1rem;
    transition: ease-out 0.2s;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: 4rem auto 2rem;
    grid-template-columns: 1fr;
    text-align: center;
}

.Unlock-hiddenCard {
    font-family: var(--unlock-button-font);
    font-size: 4rem;
    color: var(--gunmetal);
}

.Merge {
    border-radius: 30px;
    background: #253439;
    box-shadow: 10px -10px 20px #0f1517, -10px 10px 20px #3b535b;
    font-family: var(--unlock-button-font);
    color: white;
    font-size: 4rem;
}

.Merge:hover {
    transform: scale(0.95);
    transition: ease-out 0.2s;
}

.Number-hiddenCard {
    font-size: 1.8rem;
}

.card-number {
    text-align: center;
    font-size: 1.8rem;
}

@media screen and (min-width: 680px) {
    .addTitle,
    .addFormList {
        text-align: center;
    }
    .list-title {
        grid-column: 1/6;
    }
    .card:hover {
        transform: scale(1.05);
    }
    .card-link-to-details:hover {
        background-color: var(--isabelline);
        color: var(--gunmetal);
        border-color: var(--isabelline);
    }
    .card-list,
    .game-list {
        grid-template-columns: repeat(5, 1fr);
    }
    .add_card form {
        max-width: 30vw;
        margin: auto;
    }
    .add_card button {
        margin-left: 9rem;
    }
}