@import "../fonts/playfair/stylesheet.css";
@import "../fonts/teko/stylesheet.css";
 :root {
    --border-color: #b29e84;
    --jet: #423e3a;
    --shadow-jet: #70675d;
    --gunmetal: #253439;
    --gray-web: #7c898b;
    --isabelline: #f6f4f1;
    /* first font to use */
    --text-font: "playfair_displayregular", serif;
    /* use only for title UNLOCK and BUTTON */
    --unlock-button-font: "tekoregular", sans-serif;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
}

body {
    position: relative;
    font-family: var(--text-font);
    background-color: var(--gunmetal);
    color: var(--isabelline);
    padding: 1rem;
}

.unlock-title {
    font-size: 1.5rem;
    font-family: var(--unlock-button-font);
    text-shadow: 2px 2px 2px #b29e84;
}

.unlock-h2 {
    font-family: var(--text-font);
    font-size: 1rem;
}

.home-link {
    text-decoration: none;
    color: var(--isabelline);
}

button {
    font-family: var(--unlock-button-font);
}

.home {
    height: 80vh;
    padding: 0;
    overflow: hidden;
    position: relative;
    background-image: url("/assets/images/london-map1.jpeg");
    border: 0.3rem solid var(--border-color);
}

.behind {
    margin-left: 1rem;
}

.front {
    position: absolute;
    z-index: 1;
    bottom: -10rem;
    left: -10rem;
    height: 40vh;
    width: 100vw;
    overflow-x: scroll;
    display: grid;
    grid-auto-flow: column;
    transform: rotate(-40deg);
    border-top: .2rem solid var(--border-color);
    background-color: rgb(120, 120, 120, 0.8);
    padding-left: 20rem;
    padding-bottom: 20rem;
    padding-right: 20rem;
}

.slide {
    width: 30vw;
    height: 50vw;
    background-color: var(--jet);
    color: white;
    text-decoration: none;
    margin: 1rem;
    display: inline-block;
    text-align: center;
    font-size: 5vw;
    border-radius: 15px;
}

.first {
    opacity: 0;
    animation: fades 1s infinite, moves 1s infinite ease-out;
}

.second {
    animation: moves 1s infinite ease-in-out;
}

.third {
    animation: moves 1s infinite ease-in, fades 1s reverse infinite;
}

.svg {
    position: fixed;
    z-index: 6;
    transform: scaleY(0.8);
    margin-left: 12rem;
    margin-top: 2rem;
}

@keyframes fades {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes moves {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(40px);
    }
}

.behind .title {
    text-shadow: 2px 2px 2px #0f1517;
}

.Title {
    text-align: center;
    margin-bottom: 1rem;
}

.list-title {
    margin-top: 1rem;
    text-align: center;
    grid-row: 1;
    grid-column: 1/2;
    font-size: 1.5rem;
    text-align: center;
}

.game-title {
    text-align: center;
}

.game-list-title {
    text-align: center;
    margin: 2rem;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: var(--border-color);
}

.list-title-h2 {
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.card-list,
.game-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 1rem;
    grid-auto-flow: row dense;
    align-items: stretch;
}

.game-list {
    list-style: none;
    grid-template-rows: 1fr 1fr;
}

.card {
    font-size: 2rem;
    height: 65vh;
    background-color: var(--jet);
    border: solid 0.2rem var(--border-color);
    border-radius: 2rem;
    padding: 1rem;
    transition: ease-out 0.2s;
    overflow-x: hidden;
    overflow-y: visible;
    display: grid;
    grid-template-rows: 1fr 6fr 4rem;
    grid-template-columns: 1fr;
    position: relative;
}

.game,
.game-image {
    height: 65vh;
    background-color: var(--jet);
    border: solid 0.2rem var(--border-color);
    border-radius: 2rem;
    padding: 1rem;
    transition: ease-out 0.2s;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: 1fr 6fr 4rem;
    grid-template-columns: 1fr;
    padding: 1rem;
    font-size: 1.8rem;
}

.game-figure {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.game-image {
    padding: 0;
    height: 23vh;
}

.game-caption {
    color: var(--isabelline);
    font-size: 1.2rem;
    align-self: center;
    margin-block-end: auto;
}

.card-title {
    text-align: center;
    min-width: 0;
}

.card-link-to-details {
    text-decoration: none;
    color: var(--isabelline);
    border: solid 2px var(--border-color);
    border-radius: 2rem;
    height: 4rem;
    transition: ease-in-out .2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-details-span {
    font-size: 1.5rem;
}

.addTitle,
.addFormList {
    text-align: center;
}

.add-card-form {
    margin-top: 17vh;
    background-color: var(--jet);
    border: solid 0.2rem var(--border-color);
    border-radius: 2rem;
    padding: 0.35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add_card h1 {
    margin-top: 3%;
    margin-bottom: 10%;
}

.add_card label {
    margin-top: 1.2rem;
}

.add_card button {
    margin-top: 1.8rem;
    width: 35%;
    height: 2rem;
    font-size: 1.5rem;
}

.add_card input,
.add_card select,
.add_card textarea {
    margin-top: 0.6rem;
    width: 90%;
}

.add_card select {
    text-align: center;
}

.addFormList {
    list-style-type: none;
    font-size: 1.5rem;
}

.addFormList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addFormList input,
.addFormList label,
.addFormList textarea {
    width: 80%;
    padding: .3rem;
    margin-top: .8rem;
}

.addFormList textarea {
    resize: none;
    height: 5rem;
}

.addFormList button {
    width: 30%;
    height: 3rem;
    font-size: 2rem;
    margin-top: .8rem;
}

.checkbox:checked+.card {
    border-color: lightgreen;
}

.add-cards-link {
    text-decoration: none;
    color: var(--isabelline);
    font-size: 2rem;
    position: relative;
}

.add-cards-span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


/* Game SHOW part */

.game-show-desription-screen {
    max-width: 600px;
}

.game-show {
    display: flex;
    justify-content: center;
}

.game-show-title {
    font-size: 1.3rem;
    margin: 2rem 0;
}

.game-show-description {
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #4c595c;
    text-align: center;
    align-items: stretch;
    border: 0.5rem double;
    border-color: var(--border-color);
    border-radius: 1rem;
    margin: 2rem 0 0 0;
}

.game-show-description-p {
    height: 40vh;
    text-align: center;
    padding: 1rem;
    background-image: url("/assets/images/game-the-appartment.png");
    background-size: cover;
    color: var(--isabelline);
    text-shadow: black 0.1em 0.1em 0.2em;
}

.game-show-instruction-p {
    text-align: justify;
    padding: 1rem 1rem 0 1rem;
}

.game-show-link {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
}

.game-show-link-play,
.game-show-link-cards {
    text-decoration: none;
    color: var(--isabelline);
    background-color: var(--jet);
    font-size: 2.4rem;
    padding: 0.2rem;
    border: 2px solid var(--jet);
    border-radius: 10px;
    box-shadow: 5px 5px 5px var(--shadow-jet);
}


/*  CARD - DETAILS - SHOW */

.card.card-detail {
    margin: 1rem auto;
    display: flex;
    height: unset;
    max-height: unset;
    flex-direction: column;
    max-width: 450px;
}

.card-detail-title-container {
    display: flex;
    align-items: center;
}

.card-detail .card-name {
    text-align: center;
    margin-left: 2rem;
}

.card-name {
    font-size: 2em;
}

.card-detail .card-number {
    height: 4rem;
}

.card-detail .card-description {
    text-align: center;
    margin-top: 1rem;
}

.card-img {
    width: 100%;
    margin-top: 1rem;
}

.card-image {
    margin: auto;
    width: 100%;
    height: 100%;
}

.Number-hiddenCard {
    font-size: 1.8rem;
}

.card-number {
    text-align: center;
    font-size: 1.8rem;
}


/* Game play start here */

.card-hidden {
    aspect-ratio: 2/3;
    background-color: var(--gray-web);
    border-radius: 2rem;
    padding: 1rem;
    transition: ease-out 0.2s;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: 4rem auto 2rem;
    grid-template-columns: 1fr;
    text-align: center;
}

.Unlock-hiddenCard {
    font-family: var(--unlock-button-font);
    font-size: 4rem;
    color: var(--border-color);
    text-shadow: 2px 2px 2px #253439;
}

.Game-hiddenCard {
    color: var(--gunmetal);
}

.Merge {
    position: fixed;
    bottom: 1rem;
    width: 90%;
    left: 5%;
    border-radius: 30px;
    background: #253439;
    box-shadow: 10px -10px 20px #0f1517, -10px 10px 20px #3b535b;
    font-family: var(--unlock-button-font);
    color: white;
    font-size: 4rem;
}

.Merge:hover {
    transform: scale(0.95);
    transition: ease-out 0.2s;
}

.rules-play {
    z-index: 6;
    position: fixed;
    right: 1rem;
    top: 2rem;
    background-color: var(--jet);
    width: 3rem;
    height: 3rem;
    font-size: 1.4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-1rem, -1rem);
}

.rules-play-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    color: var(--jet);
    background: var(--border-color);
    z-index: 5;
    clip-path: circle(1.5rem at calc(100% - 3.5rem) 2.5rem);
    transition: clip-path 1s;
    transform: translate(-1rem, -1rem);
}

.rules-play-input:checked+.rules-play-container {
    clip-path: circle(97% at calc(100% - 3.5rem) 2.5rem);
}

.rules {
    z-index: 6;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    background-color: var(--jet);
    width: 3rem;
    height: 3rem;
    font-size: 1.4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rules-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    color: var(--jet);
    background: var(--border-color);
    z-index: 5;
    clip-path: circle(1.5rem at calc(100% - 2.5rem) calc(100% - 2.5rem));
    transition: clip-path 1s;
}

.rules-input:checked+.rules-container {
    clip-path: circle(97% at calc(100% - 2.5rem) calc(100% - 2.5rem));
}

.rules-text {
    font-size: 1.2rem;
    text-align: center;
    padding: 0 1rem;
}


/* Victory Screen */

.victory {
    text-align: center;
}


/* ADD Game */

.game_add {
    background-color: var(--jet);
    height: 65vh;
    border: solid 0.2rem var(--border-color);
    border-radius: 2rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    height: 27em;
}

.game-card {
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.card-description {
    overflow-y: scroll;
    font-size: 1.5rem;
    text-align: center;
}

.game-play-merge-info {
    display: inline-block;
    width: 100%;
    position: fixed;
    left: 0;
    height: 8vh;
    top: -4rem;
    animation: myframes 4s ease-in-out;
    z-index: 1;
    background-color: var(--jet);
    border-bottom: .2rem solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes myframes {
    0% {
        top: -4rem;
    }
    20% {
        top: 0;
    }
    80% {
        top: 0;
    }
    100% {
        top: -4rem;
    }
}

.game-play-merge-info-description {
    font-size: 1.5rem;
}

.game-card-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: var(--jet);
    border: .2rem solid var(--border-color);
    border-radius: 2rem;
}

.game-card-form-input,
.game-card-form-select,
.game-card-form-textarea {
    width: 100%;
    margin: .5rem;
}

.game-card-form-input:read-only,
.game-card-form-textarea:read-only {
    color: grey;
}

.game-card-form-select {
    color: black;
    height: 2rem;
}

.game-card-form-input {
    height: 1.8rem;
}

.game-card-form-textarea {
    resize: none;
}

.game-card-form-submit {
    height: 2rem;
    width: 50%;
    font-size: 1.2rem;
}

@media screen and (min-width: 680px) {
    .addTitle {
        text-align: center;
    }
    .list-title {
        grid-column: 1/6;
    }
    .card {
        max-height: 450px;
    }
    .card:hover {
        transform: scale(1.05);
    }
    .card-link-to-details:hover {
        background-color: var(--isabelline);
        color: var(--gunmetal);
        border-color: var(--isabelline);
    }
    .card-list,
    .game-list {
        grid-template-columns: repeat(5, 1fr);
    }
    .add_card form {
        max-width: 30vw;
        margin: auto;
    }
}