<div class="card">
	<h2 class="card-title">{{ card.name }}</h2>
	{# <p class="card-description">{{ card.description }}</p>  #}
	<img class="card-img" src="{{ card.image_url }}">
	<a class="card-link-to-details" href="/cards/show?id={{ card.id }}">
		<span class="card-details-span">Details</span>
	</a>
</div>
