{% extends 'layout.html.twig' %}

{% block content %}
    <section class="desktop-form">
        {{ parent() }}
        
        <form class="form card-add" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
            
            <h1>Nouvelle carte</h1>
            
            <label for="name">Titre</label>
            <input type="text" placeholder="Sherlock découverte" name="name" id="name"/>
            <label for="description">Description</label>
            <textarea rows="10" placeholder="Initié vous au jeu UNLOCK" name="description" id="description"></textarea>
            <label for="imageUpload">Image</label>    
            <input type="file" name="image_url" id="imageUpload" />
            <button type="submit" class="Merge">Créer</button> 

        </form>
    </section>
    {% endblock %}