{% extends 'layout.html.twig' %}

{% block content %}
    <h1>New Card : </h1>

    <form method="post" accept-charset="UTF-8">

        <label for="name">Title : </label>
        <input type="text" name="name" id="name"/>
        <label for="description">Description : </label>
        <input type="textarea" name="description" id="description"/>
        <br>
        <input type="submit" value="OK">

    </form>
{% endblock %}