{% extends 'layout.html.twig' %}

{% block content %}
	{{ parent() }}
    <section class="add_card">
    
        <form class="add-card-form" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
            
            <h1>New Card : </h1>
            
            <label for="name">Title : </label>
            <input type="text" placeholder="Your card title" name="name" id="name"/>
            <label for="description">Description : </label>
            <textarea rows="10" placeholder="Your card description" name="description" id="description"></textarea>
            <label for="imageUpload">Upload an profile image</label>    
            <input type="file" name="image_url" id="imageUpload" />
            <button type="submit">Create</button> 

        </form>
    </section>
    {% endblock %}