{% extends 'layout.html.twig' %}

{% block content %}
	{{ parent() }}
    <section class="add_card">
    
        <form class="add-card-form" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
            
            <h1>Nouvelle carte : </h1>
            
            <label for="name">Titre : </label>
            <input type="text" placeholder="Titre de votre carte" name="name" id="name"/>
            <label for="description">Description : </label>
            <textarea rows="10" placeholder="Description de votre carte" name="description" id="description"></textarea>
            <label for="imageUpload">Ajouter une image : </label>    
            <input type="file" name="image_url" id="imageUpload" />
            <button type="submit">Créer</button> 

        </form>
    </section>
    {% endblock %}