{% extends 'layout.html.twig' %} {% block content %}
<h1 class="unlock">UNLOCK !</h1>
<h2 class="unlock-title2">Sherlock Adventure</h2>

<div class="card card-detail">
    <div class="card-detail-title-container">
        <img src="/assets/images/card-icon.png" alt="numéro de carte" class="card-number">
        <p>{{card.number}}</p>
        <p class="card-name ">{{ card.name }}</p>
    </div>
</div>
</div>{% endblock %}