{% extends 'layout.html.twig' %}
{% block content %}
	<div class="card card-detail">
		<div class="card-detail-title-container">
			<img src="/assets/images/card-icon.png" alt="numéro de carte" class="card-number">
			<p>{{card.number}}</p>
			<p class="card-name ">{{ card.name }}</p>
		</div>
		<img src="{{ card.image_url }}" alt="Image de la carte" class="card-img">
		<p class="card-description">{{ card.description }}</p>
	</div>
</div>{% endblock %}
