{% extends 'layout.html.twig' %} {% block content %}

<h1 class="unlock">UNLOCK !</h1>
<h2 class="unlock-title2">Sherlock Adventure</h2>
<div class="card-container">
    <div class="card-show">
        <div class="card-head">
            <img src="/assets/images/card-icon.png" alt="numéro de carte" width="60px">
            <p> {{card.number}} </p>
            <h2 class="card-name ">{{ card.name }}</h2>
        </div>
        <img src="/assets/images/key.png" alt="Image de la carte" width="300px">
        <p class="card-description">{{ card.description }}</p>
    </div>
</div>
{% endblock %}