{% extends "layout.html.twig" %}

{% block content %}

	<form class="card-list" method="POST" action="">
		<h1 class="list-title">Selectionnez vos cartes</h1>
		{% for card in cards %}
			{% include "/GameCards/_cardSelect.html.twig" with card %}
		{% endfor %}
		<button type="submit">Ajouter</button>
	</form>

{% endblock %}
