{% extends "layout.html.twig" %}

{% block content %}
	<div class="agencement-page-play">
		{{ parent() }}
		<h1 class="title-page">Sélectionez les cartes à ajouter</h1>
	</div>
	<form id="form-card-list" class="card-list" method="POST" action="">
		{% for card in cards %}
			{% include "/GameCards/_cardSelect.html.twig" with card %}
		{% endfor %}
	</form>
	<div class="game-card-add">
		<button class="Merge" type="submit" form="form-card-list">
			<span>Ajouter une carte</span>
		</button>
		<a class="Merge" href="/cards/add">
			<span>Nouvelle carte</span>
		</a>
	</div>
{% endblock %}
