{% extends "layout.html.twig" %}

{% block content %}

	<div class="card-list" method="POST" action="">
		<h1 class="list-title">{{ game.name }}
			- Liste des cartes</h1>
		{% for card in cards %}
			{% include "/GameCards/_cardNumbers.html.twig" with {card, game_id} %}
		{% endfor %}
		<a class="card add-cards-link" href="/games/cards/add?id={{ game_id }}">
			<span class="add-cards-span">NOUVELLES CARTES</span>
		</a>
	</div>

{% endblock %}
