{% extends "layout.html.twig" %}

{% block content %}
	{{ parent() }}

	<form class="card-list" method="POST" action="">
		<h1 class="list-title">Sélectionez les cartes à ajouter</h1>
		{% for card in cards %}
			{% include "/GameCards/_cardSelect.html.twig" with card %}
		{% endfor %}
		<button type="submit">Ajouter</button>
		{# Début de la suppression #}
		<a class="card add-cards-link" href="/cards/add">
			<span class="add-cards-span">CREATE NEW CARD</span>
		</a>
		{# Fin de la suppression #}
	</form>

{% endblock %}
