{% extends "layout.html.twig" %}

{% block content %}
<div class="add-card">
	<div class="agencement-page-play">
		
			{{ parent() }}
		
			<div class="title-page">
					<h1>{{ game.name }}</h1>
					<h2>Fusionner vos cartes !</h2>
			</div>
		</div>
	</div>
	<div class="card-list" method="POST" action="">
		{% for card in cards %}
			{% include "/GameCards/_cardNumbers.html.twig" with {card, game_id} %}
		{% endfor %}
	</div>
	<a class="new-game-cards" href="/games/cards/add?id={{ game_id }}">
		NOUVELLES CARTES
	</a>
</div>
{% endblock %}
